# Web framework for building website backend
flask

# HTTP library for sending network requests 
requests

# HTML parsing library for parsing webpage content
beautifulsoup4

# Python interface for Google Translate API
googletrans==3.1.0a0

# For loading environment variables
python-dotenv==0.19.0

# Selenium for web automation
selenium